
#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end

#if($ctx.result)
    {
        "id": "$ctx.result.it_key.S",
        "name": "$ctx.result.name.S",
        "description": $util.defaultIfNull($ctx.result.description.S, null)
    }
#else
    null
#end
