
{
    "version": "2017-02-28",
    "operation": "GetItem",
    "tableName": "ServerlessVolunteerAppStack-projects9614A9BB-1R56LYOCSM788",
    "key": {
        "it_key": {
            "S": "$ctx.args.id"
        }
    }
}
